In [4]:
import pandas as pd

df_all = pd.read_csv("../data/BuildingDataset/all.csv")

In [5]:
df_all.head()

,f1,f2,vol.build,vol.min,vol.max,vol.mean,vol.med,vol.range,vol.std,vol.gini,...,long_short.min,long_short.max,long_short.mean,long_short.med,long_short.range,long_short.std,long_short.gini,meanheight.build,meanheight_height.build,height_soil.build
0,138675.0,739.002,299.906,2.42825,210.239,99.9687,87.2391,207.810,85.3144,0.461946,...,0.500000,0.732950,0.598565,0.562747,0.232950,0.098416,0.086484,9.71300,1.000000,0.314573
1,389664.0,681.010,299.898,9.49611,264.209,99.9660,26.1931,254.713,116.3370,0.566221,...,0.576531,0.916360,0.803084,0.916360,0.339829,0.160197,0.094035,6.47268,0.676846,0.206398
2,1732610.0,849.511,299.779,61.64700,173.546,99.9262,64.5855,111.899,52.0710,0.248848,...,0.880911,0.920836,0.906950,0.919103,0.039925,0.018426,0.009783,9.29326,0.524066,0.549730
3,729853.0,652.527,299.944,38.34540,204.048,99.9812,57.5505,165.702,74.0026,0.368296,...,0.504456,0.689910,0.617374,0.657757,0.185454,0.080917,0.066754,3.90003,0.602600,0.084152
4,2629310.0,786.246,299.862,22.43900,246.035,99.9541,31.3882,223.596,103.3590,0.497108,...,0.618281,0.738355,0.658306,0.618281,0.120073,0.056603,0.040533,23.62600,1.000000,1.861480

In [13]:
fs = df_all[["f1", "f2"]]
xs = df_all.drop(["f1", "f2"], axis=1)

print(f"fs shape = {fs.shape}")
print(f"xs shape = {xs.shape}")

fs shape = (806540, 2)
xs shape = (806540, 99)